/*===========================lista_slider_pagInicial===========================*/
#list_liMenu_pagInicial_insertImg{width: 200px;}
#list_liMenu_pagInicial_insertImg button{width: 150px;}

/*===========================lista_servico===========================*/
#list_liMenu_inserirServico{width: 150px;}
#list_liMenu_inserirServico button{width: 120px;}