<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GerenteCliente</servlet-name>
        <servlet-class>controller.GerenteCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteLogoCliente</servlet-name>
        <servlet-class>controller.GerenteLogoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteParceiro</servlet-name>
        <servlet-class>controller.GerenteParceiro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteLogoParceiro</servlet-name>
        <servlet-class>controller.GerenteLogoParceiro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteServico</servlet-name>
        <servlet-class>controller.GerenteServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteImagemServico</servlet-name>
        <servlet-class>controller.GerenteImagemServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteIndex</servlet-name>
        <servlet-class>controller.GerenteIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteContato</servlet-name>
        <servlet-class>controller.GerenteContato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteEmpresa</servlet-name>
        <servlet-class>controller.GerenteEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteImagemCategoriaServico</servlet-name>
        <servlet-class>controller.GerenteImagemCategoriaServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteCategoriaServico</servlet-name>
        <servlet-class>controller.GerenteCategoriaServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteGaleriaCategoria</servlet-name>
        <servlet-class>controller.GerenteGaleriaCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteImagemGaleriaCategoria</servlet-name>
        <servlet-class>controller.GerenteImagemGaleriaCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteLogoIndex</servlet-name>
        <servlet-class>controller.GerenteLogoIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteSlider</servlet-name>
        <servlet-class>controller.GerenteSlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteImagemSlider</servlet-name>
        <servlet-class>controller.GerenteImagemSlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteUsuario</servlet-name>
        <servlet-class>controller.GerenteUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenteLogin</servlet-name>
        <servlet-class>controller.GerenteLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GerenteCliente</servlet-name>
        <url-pattern>/gerente_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteLogoCliente</servlet-name>
        <url-pattern>/gerente_logo_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteParceiro</servlet-name>
        <url-pattern>/gerente_parceiro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteLogoParceiro</servlet-name>
        <url-pattern>/gerente_logo_parceiro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteServico</servlet-name>
        <url-pattern>/gerente_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteImagemServico</servlet-name>
        <url-pattern>/gerente_imagem_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteIndex</servlet-name>
        <url-pattern>/gerente_index.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteContato</servlet-name>
        <url-pattern>/gerente_contato.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteEmpresa</servlet-name>
        <url-pattern>/gerente_empresa.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteImagemCategoriaServico</servlet-name>
        <url-pattern>/gerente_imagem_categoria_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteCategoriaServico</servlet-name>
        <url-pattern>/gerente_categoria_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteGaleriaCategoria</servlet-name>
        <url-pattern>/gerente_galeria_categoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteImagemGaleriaCategoria</servlet-name>
        <url-pattern>/gerente_imagem_galeria_categoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteLogoIndex</servlet-name>
        <url-pattern>/gerente_logo_index.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteSlider</servlet-name>
        <url-pattern>/gerente_slider.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteImagemSlider</servlet-name>
        <url-pattern>/gerente_imagem_slider.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteUsuario</servlet-name>
        <url-pattern>/gerente_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenteLogin</servlet-name>
        <url-pattern>/gerente_login.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/pagError.jsp?msg=Erro interno no servidor ou base de dados inativa</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/pagError.jsp?msg=Erro interno no servidor ou base de dados inativa</location>
    </error-page>
</web-app>
