@media screen and (min-width: 992px){
    .container-fluid{height: auto;}
    .header{height: 170px;}
    .logo{margin-top: 80px;}
    .section{margin-top: 1%;}
    .conteudo{
        position: relative;
        float: left;
        left: 50%;
        margin-left: -490px;}
    .menuService{
        float: left;
        margin-bottom: 10px;} 
    
    .container_conteudo_footer{
        position: relative;
        float: left;
        min-width: 700px;
        max-width: 700px;
        left: 50%;
        margin-left: -350px;}
    
    .conteudo_footer{
        min-width: 350px;
        max-width: 350px;}
    
    #conteudo_left_footer{float: left;}
    #conteudo_right_footer{float: right;}
    #conteudo_right_footer{text-align: right;}

}