@font-face{
    font-family: "Lato";
    src: url('../fonts/Lato-Light.ttf');}

/*==============empresa.html==============*/

/*==============DESCRICAO-EMPRESA==============*/
    .descricaoEmpresaSmall{
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        z-index: 4;
        background: white;
        text-align: center;}

    .btnCloseDescricao{
        position: relative;
        float: right;
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
        border: none;
        border-radius: 30px;
        background: red;
        color: white;}

    .descricaoEmpresaSmall h1{font-weight: bold;}
    .descricaoEmpresaSmall p{
        max-width: 700px;
        margin: 0 auto;
        padding: 15px;
        word-break: break-all;
        text-align: justify;
        font-size: 1.1em;
        color: #252422;}


    #sectionEmpresa{
        margin-top: 20px;}
    #sectionEmpresa .conteudo{
        max-width: 600px;
        height: auto;
        padding: 0px;
        margin: 0px auto;
        border: none;
        background: white;}

    #sectionEmpresa .menuEmpresa{
        width: 150px;
        margin: 0 auto;
        background: white;}

    .btnMenuEmpresaSmall,.btnMenuEmpresa{
        display: block;
        width: 150px;
        border-radius: 50px;
        background: white;
        transition: 0.2s;
        color: #252422;}
    .btnMenuEmpresaSmall{
        background: #101d42;
        color: white;}
    
    .btnMenuEmpresaSmall span, .btnMenuEmpresa span{
        line-height: 35px;
        font-size: 1.2em;}
    .btnMenuEmpresaSmall i,.btnMenuEmpresa i{
        position: relative;
        float: left;
        width: 35px;
        height: 35px;
        left: -20px;
        border-radius: 30px;
        line-height: 32px;
        background: white;
        text-align: center;
        font-size: 1.2em;
        color: #101d42;}

    
    .btnMenuEmpresa:hover{background: #101d42; color: white;}

    .btnMenuEmpresa{display: none;}

    .descricaoEmpresa{display: none;}
    .descricaoEmpresa p, .descricaoEmpresaSmall p{
        line-height: 25px;
        font-size: 1.1em;}

    #container_descricao{display: none;}
    @media screen and (min-width: 992px){

    /*==============empresa.html==============*/
    .container_absolute{height: 100%; }

    #sectionEmpresa .conteudo{
        position: relative;
        float: left;
        min-width: 950px;
        left: 50%;
        margin-left: -475px;
        background: white;}
    
    #sectionEmpresa .menuEmpresa{float: left;}
    .btnMenuEmpresaSmall{display: none;}
    .btnMenuEmpresa{display: block;}    

    #container_descricao{display: block;}
    
    .descricaoEmpresa{
        float: left;
        width: 700px;
        min-height: 350px;
        margin-left: 10px;
        background: white;
        color: black;
        word-break: break-all;}
    .descricaoEmpresa p{
        line-height: 25px;
        color: #252422;}

    .iconDescricao{
        position: relative;
        float: right;
        width: 70px;
        height: 70px;
        top: -20px;
        right: -20px;
        border-radius: 70px;
        border: 1px solid;
        border-color: transparent transparent grey grey;
        background: white;
        line-height: 70px;
        font-size: 2.5em;
        color: #101d42;
    }
    }